.form-allowed-tags
{
	display:none;
}
#wp-comment-wrap
{
	margin-bottom: 35px;
	margin-top: 5px;
	border: 1px solid #dddddd !important;
}
#wp-edit_mycontent-wrap
{
	border: 1px solid #dddddd !important;
}
.mce-container-body
{
	background-color: whitesmoke !important;
}
.rev_help.liked, .my_popuptoc_close
{
	cursor:pointer;
}
.nu_editnotes.removed
{
	opacity: 0.65;
	cursor: not-allowed;
}
#my_popuptoc
{
	margin-top: 100px;
}
#my_popupnotes
{
	padding-bottom: 38px;
}
.note_load
{
	background-color: white;
    border: 1px solid #e6e6e6;
    min-width: 550px;
    max-width: 550px;
    min-height: 200px;
    border-radius: 5px;
    bottom: 50px;
	padding: 20px;
}
.fic_button.savenotes {
    margin-left: 5px;
    background-color: #2d3e4f;
    color: white;
    border-color: #001727;
}
.fic_button {
    padding: 4px 10px;
    border-radius: 2px;
    border: 1px solid #2d3e4f;
    font-size: 14px;
    color: #2d3e4f;
    cursor: pointer;
}
.fic_button:hover {
    background-color: #f5f5f5;
}
.fic_button.savenotes:hover {
    background-color: #374757;
}
#mceu_76-body, #mceu_132-body
{
	border: 1px solid #e5e5e5;
}
.fa.fa-times.rlnotes {
    float: right;
    cursor: pointer;
    color: #cbcbcb;
    padding: 5px;
    margin-right: -5px;
    font-size: 18px;
}
.fa.fa-times.rlnotes:hover {
    color: #333;
}

.pop_rl_title, .pop_rl_tags, .pop_rl_notes {
    font-weight: 600;
    padding: 5px 0px;
}
.pop_rl_title {
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    background-color: whitesmoke;
    padding: 0px 15px !important;
}
.pop_rl_tagnotes
{
	font-size:12px;
}
.pop_rl_content
{
	padding:15px;
}
#my_popupnotes {
    background-color: white;
    border: 1px solid #e6e6e6;
    min-height: 200px;
    border-radius: 5px;
    bottom: 50px;
}